h1{
    text-align: center;
}
.topnav {
    overflow: hidden;
    background-color: #d2f2f8;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    border-right: 1px solid rgb(68, 68, 68);
    font-size: 17px;
}
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.search-container {
    float: right;
}

.search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


.topnav a:hover:not(.active){
    background-color: rgb(155, 155, 155);
}

.topnav a.active {
    background-color: rgb(39, 124, 202);
}

.pic {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-style: dotted;
    border-width: 3px;
    width: 168x;
    display: inline-block;
}